@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The web application worked on is a simple university web site. Users can view and update student, course, and instructor information.</p>
